- name: Install ZSH
  become: true
  apt:
    name:
      - zsh
  tags: &tags_for_zsh_tasks [ 'install', 'productivity', 'dotfiles', 'zsh' ]

- name: Change shell to zsh
  become: true
  shell: chsh --shell $(which zsh) {{ me }}
  tags: *tags_for_zsh_tasks

- name: Check that the somefile.conf exists
  stat:
    path: /home/{{ lookup('env', 'USER') }}/.oh-my-zsh
  register: oh_my_stats
  tags: *tags_for_zsh_tasks

- name: Oh-My-Zsh
  shell: curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh > ~/.oh-my-installer && chmod +x ~/.oh-my-installer && ~/.oh-my-installer
  tags: *tags_for_zsh_tasks
  when: oh_my_stats.stat.exists == False

- name: Install autosuggestions
  ansible.builtin.git:
    repo: "https://github.com/zsh-users/zsh-autosuggestions"
    dest: "{{ lookup('env', 'HOME') }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
  tags: *tags_for_zsh_tasks

- name: Install syntax highlight
  ansible.builtin.git:
    repo: "https://github.com/zsh-users/zsh-syntax-highlighting"
    dest: "{{ lookup('env', 'HOME') }}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"
  tags: *tags_for_zsh_tasks

- name: Install completions
  ansible.builtin.git:
    repo: "https://github.com/zsh-users/zsh-completions"
    dest: "{{ lookup('env', 'HOME') }}/.oh-my-zsh/custom/plugins/zsh-completions"
  tags: *tags_for_zsh_tasks

- name: Install history-substring-search
  ansible.builtin.git:
    repo: "https://github.com/zsh-users/zsh-history-substring-search"
    dest: "{{ lookup('env', 'HOME') }}/.oh-my-zsh/custom/plugins/zsh-history-substring-search"
  tags: *tags_for_zsh_tasks

- name: Install Starship
  shell: curl -sS https://starship.rs/install.sh | sh -s -- -y
  tags: *tags_for_zsh_tasks


